@font-face {
    font-family: Exo-2;
    src: url('fonts/Exo2-SemiBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

body {
    margin: 0;
    background-color: #E8D8C4;
    font-family: Exo-2, sans-serif;
}

/* Grid container */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    /* sidebar + main */
    grid-template-rows: 80px auto 60px;
    /* header + content + footer */
    grid-template-areas:
        "header  header"
        "sidebar main"
        "footer  footer";
    min-height: 100vh;
}

/* Grid Areas */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #561C24;
    color: #E8D8C4;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #C7B7A3;
    padding: 20px;
}

.main {
    grid-area: main;
    background-color: #E8D8C4;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #561C24;
    color: white;
    text-align: center;
    padding: 15px;
}

.logo {
    height: 60px;
    width: auto;
    object-fit: contain;
}

/* Navigation bar */
ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navBar {
    color: #E8D8C4;
    text-decoration: none;
}

/* Cards */
.card-row {
    display: flex;
    gap: 40px;
    align-items: stretch;
    margin: 20px 0;
}

.card {
    color: rgb(242, 242, 222);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    background-color: #561C24;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

button {
    border-radius: 8px;
    background-color: #E8D8C4;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
}

#slideToggleBtn {
    border-radius: 8px;
    background-color: #dba563;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
}

button a {
    color: inherit;
    text-decoration: none;
    display: block;
}

button:active {
    transform: scale(0.95);
}

/*gallery*/
.header-Gallery {
    padding: 50px;
    text-align: center;
}

.gallery {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.photo {
    padding: 5px;

    background-color: #561C24;
    border-radius: 15px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.photo:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.contact {
    background-color: #E8D8C4;
    border: 2px solid #561C24;
    border-radius: 12px;
    padding: 15px 20px;
    width: auto;
}

.contact .logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

#itemList {
    display: block;
    list-style-type: disc;
}

#itemList li {
    display: list-item;
    margin: 6px 0;
}

.anim-section {
    background-color: #C7B7A3;
    padding: 20px;
    margin-top: 30px;
    border-radius: 12px;
}

.anim-section button {
    margin: 5px;
}